.codePinBtn{
  flex: 0 0 auto;
  opacity: 0;
  z-index: 1000;
  margin-left: -23px;
  align-self: start;
}
#copyBtn {
    opacity: 0;
    position: fixed;
    display: block;
    z-index: 1000;
    line-height: 1;
    font-size: 1.5em;
    left: 18px;
}
